header {
  display:block;
  -webkit-box-shadow: 0 0 70px #fff;
  -moz-box-shadow: 0 0 70px #fff;
  box-shadow: 0 0 70px #fff;
  font-family: helvetica, arial, serif;
  font-size: 13px;
  text-transform: uppercase;
  text-align: center;

}
body > header{
  position: fixed;
  top:0px;
  width: 1000px;
  margin: 0 auto;
  left: 0;
  right: 0;
}
header a {
  text-decoration: none;
  color: #fff;
  display: block;
}
header ul {
  list-style: none;
  position: relative;
  text-align: left;
}
header li {
  float: left;
}
header ul:after {
  clear: both;
}
header ul:before,
header ul:after {
    content: " ";
    display: table;
}
header nav {
  position: relative;
  background: #2B2B2B;
  background-image: -webkit-linear-gradient(bottom, #2B2B2B 7%, #333333 100%);
  background-image: -moz-linear-gradient(bottom, #2B2B2B 7%, #333333 100%);
  background-image: -o-linear-gradient(bottom, #2B2B2B 7%, #333333 100%);
  background-image: linear-gradient(bottom, #2B2B2B 7%, #333333 100%);
  text-align: center;
  letter-spacing: 1px;
  text-shadow: 1px 1px 1px #0E0E0E;
  -webkit-box-shadow: 2px 2px 3px #888;
  -moz-box-shadow: 2px 2px 3px #888;
  box-shadow: 2px 2px 3px #888;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}
.primary{
  margin-top: 0;
}
ul.primary li a {
  display: block;
  padding: 20px 30px;
  border-right: 1px solid #3D3D3D;
}
ul.primary li:last-child a {
  border-right: none;
}
ul.primary li a:hover {
  
  color: #000;
}
ul.sub {
  position: absolute;
  z-index: 200;
  box-shadow: 2px 2px 0 #BEBEBE;
  width: 35%;
  padding-left: 0;
  display:none;
}
ul.sub li {
  float: none;
  margin: 0;
}
ul.sub li a {
  border-bottom: 1px dotted #ccc;
  border-right: none;
  color: #000;
  padding: 15px 30px;
  text-transform: initial;
}
ul.sub li:last-child a {
  border-bottom: none;
}
ul.sub li a:hover {
  color: #000;
  background: #eeeeee;
}

/* sub display*/
ul.primary li:hover ul {
  display: block;
  background: #fff;
}

/* keeps the tab background white */
ul.primary li:hover a {
  background: #B92A2A;
  color: white;
  text-shadow: none;
}

ul.primary li:hover > a{
  color: #000;
} 

header nav input[type=checkbox] {
  display:none;
}
header nav label { 
  cursor: pointer;
  user-select:none;
}


@media only screen and (max-width: 600px) {
header ul li {
   float: none;
} 
 header nav ul.primary li a, header nav ul.primary li:last-child a {
    display:inline-block;
    width:100px;
}
body > header{
  position: static;
}
html body{
  margin-top: 0px;
}

header ul.primary li:hover a {
    background: none;
    color: #8B8B8B;
    text-shadow: 1px 1px #000;
}
header ul.primary li:hover ul {
    display: block;
    background: #272727;
    color: #fff;
}
header  ul.sub li a {
    background: #272727;
  	border: none;
    color: #8B8B8B;
}
header   ul.sub li a:hover {
    color: #ccc;
    background: none;
}
header ul.primary li:hover ul {
  display: none;
}
header nav label{
    display: inline-block;
  }

header nav label:after{
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 4px solid white;
  border-radius: 1px;
  content: "";
  height: 0;
  margin: 4px 9px 0px 7px;
  transition: 250ms all ease;
  width: 0;
  vertical-align: middle;
  float: right;
}
ul.primary input[type=checkbox]:checked ~ ul.sub{
    display:block;
    width: auto;
        background: #272727;
  }
  ul.primary input[type=checkbox]:checked ~ a label:after{
    transform: rotate(90deg)  
}
ul.primary li a {
  margin: 20px 30px;
  padding: 0;
 border-right: none;
}
}